{% load static %}
<div class="home-navbar">
  <ul class="home-navbar-upper">
    <li>
      <div class="logo">
        <span><img src="{% static 'images/Med.png' %}" /></span>
        <span class="logo-text font-1">MEDILINK</span>
      </div>
    </li>
    <li><button class="appointment-btn">Make Appointment</button></li>
  </ul>
  <div class="separator"></div>
  <ul class="home-navbar-lower">
    <li><a href="/">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="{% url 'contactus' %}">Contact</a></li>
    <li><a href="{% url 'get_diet' %}">Get Diet Plan</a></li>
  </ul>
</div>
<!--
  developed By : Prathmesh Vairale
  -->