<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
</head>

<body>
    <h1>Interactive Graphs</h1>

    <h2>Pie Chart - Age Distribution</h2>
    <div>{{ pie_chart|safe }}</div>

    <h2>Bar Graph - Age Group Distribution</h2>
    <div>{{ bar_chart|safe }}</div>

    <h2>Map Graph - User Locations</h2>
    <div>{{ map_chart|safe }}</div>
</body>

</html>