<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/diet.css' %}">
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/Med.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{% static 'js/chatbot.js ' %}" defer></script>
</head>

<body>
    {%include 'hospital/other/navbar.html' %}

    {% block content %}
    {% endblock content %}
    {%include 'hospital/other/chatbot.html' %}
</body>


</html>