<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-Django Integration</title>
</head>

<body>
    <h1>Submit Data to Flask</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter Name">
        <button type="submit">Submit</button>
    </form>

    {% if response_data %}
    <h2>Response from Flask:</h2>
    <p><strong>Message:</strong> {{ response_data.message }}</p>
    <p><strong>Processed Data:</strong> {{ response_data.input }}</p>
    {% endif %}

    {% if error_message %}
    <p><strong>Message:</strong>{{ error_message}}</p>
    {% endif %}

</body>

</html>