{% extends 'hospital/doctor/doctor_base.html' %}

{% load static %}
{% load widget_tweaks %}
{%block title%}Doctor-Patient{% endblock title %}
{% block pic %}
{% if doctor.profile_pic %}
<img src="{% static doctor.profile_pic %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% else %}
<img src="{% static 'images/doctor.jpg' %}" alt="Default Profile Picture" style="width: 80px; border-radius: 50%;">
{% endif %}
{% endblock %}

{% block content %}

{% include 'hospital/other/name_role_header.html'%}

<br>
<div class="tabs">
  <button class="tab-button active" onclick="switchTab('patients')">Patients</button>
  <button class="tab-button" onclick="switchTab('discharge')">Discharge Patient</button>
</div>

<div id="patients" class="content show">
  <h3>Patient List</h3>
  <div class="scrollable">
    <table class="dev-table" id="searchable_table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Profile Picture</th>
          <th>Symptoms</th>
          <th>Mobile</th>
          <th>Address</th>
        </tr>
      </thead>
      {% for p in patients %}
      <tr>
        <td> {{p.get_name}}</td>
        <td>
          {%if p.profile_pic %}
          <img src="{% static p.profile_pic %}" alt="Profile Picture" style="width: 40px;">
          {% else %}
          <img src="{% static 'images/patient.jpg' %}" alt="Profile Picture" style="width: 40px; ">
          {% endif %}
        </td>
        <td>{{p.symptoms}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


<div id="discharge" class="content">
  <h3>Your Discharge Patient</h3>
  <table class="dev-table" id="searchable_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Profile Picture</th>
        <th>Symptoms</th>
        <th>Mobile</th>
        <th>Address</th>
      </tr>
    </thead>
    {% for p in discharged_patient %}
    <tr>
      <td> {{p.get_name}}</td>
      <td> {%if p.profile_pic %}
        <img src="{% static p.profile_pic %}" alt="Profile Picture" style="width: 40px; ">
        {% else %}
        <img src="{% static 'images/patient.jpg' %}" alt="Profile Picture" style="width: 40px;">
        {% endif %}
      </td>
      <td>{{p.symptoms}}</td>
      <td>{{p.mobile}}</td>
      <td>{{p.address}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}