{% extends 'hospital/doctor/doctor_base.html' %}

{% load static %}
{% load widget_tweaks %}
{%block title%}Doctor-Patient{% endblock title %}

{% block pic %}
{% if doctor.profile_pic %}
<img src="{% static doctor.profile_pic %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% else %}
<img src="{% static 'images/doctor.jpg' %}" alt="Default Profile Picture" style="width: 80px; border-radius: 50%;">
{% endif %}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xl-6">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <a href="/doctor-view-appointment">
            <h6 class="m-b-20">View Your Appointment</h6>
          </a>
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-6">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <a href="/doctor-delete-appointment">
            <h6 class="m-b-20">Delete Appointment</h6>
          </a>
          <br>
        </div>
      </div>
    </div>


  </div>
</div>



<h2>Doctor</h2>
<div class="tabs">
  <button class="tab-button active" onclick="switchTab('appointments')">View Your Appointments</button>
  <button class="tab-button" onclick="switchTab('delete')">Delete Appointment</button>
</div>

<div id="appointments" class="content show">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Appointments</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Picture</th>
          <th>Description</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Appointment Date</th>
        </tr>
      </thead>
      {% for a,p in appointments %}
      <tr>
        <td>{{a.patientName}}</td>
        <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{a.description}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}</td>
        <td>{{a.appointmentDate}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


<div id="delete" class="content">
  <h3>Delete Appointment</h3>
  <div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Picture</th>
          <th>Description</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for a,p in appointments %}
      <tr>
        <td>{{a.patientName}}</td>
        <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{a.description}}</td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-appointment' a.id  %}"><span
              class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<script>
  function switchTab(tabName) {
    document.querySelectorAll('.content').forEach(content => {
      content.classList.remove('show');
    });
    document.getElementById(tabName).classList.add('show');

    document.querySelectorAll('.tab-button').forEach(button => {
      button.classList.remove('active');
    });
    event.currentTarget.classList.add('active');
  }
</script>
{% endblock %}