<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Doctor Dashboard{% endblock title %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static '/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/doctor_style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/Med.ico' %}">
  <script src="{% static 'js/time_and_date.js' %}" defer></script> <!-- Script loads after HTML parsing -->
</head>

<body>

  <!-- Header -->
  {% include 'hospital/other/header.html'%}


  <!-- Sidebar and Main Content -->
  <div class="afterlogin-wrapper">
    <!-- Sidebar Navigation -->
    <nav class="menu">
      <header class="avatar">
        {% block pic%}
        {% if doctor.profile_pic %}


        <img src="{% static doctor.profile_pic.url %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
        {% else %}
        <img src="{% static 'images/doctor.jpg' %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
        {% endif%}
        {% endblock%}
        <br><br>
        <h6>Doctor</h6>
        <h2 class="font-3">Dr. {{ request.user.first_name }}</h2>
      </header>
      <ul>
        <li><a href="/doctor-dashboard">Dashboard</a></li>
        <li><a href="/doctor-patient">Patient</a></li>
        <li><a href="/doctor-availability">Doctor Availability</a></li>
        <li><a href="/doctor-appointment">Appointment</a></li>
      </ul>
    </nav>

    <!-- Main Content -->
    <main>
      {% block content %}
      {% endblock content %}
    </main>

  </div>
</body>

</html>