{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Admin Dashboard{% endblock title %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'images/Med.ico' %}">
  <link rel="stylesheet" href="{% static '/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
  <script src="{% static 'js/time_and_date.js' %}" defer></script> <!-- Script loads after HTML parsing -->
</head>

<body>

  <!-- Header -->
  {% include 'hospital/other/header.html'%}


  <!-- Sidebar and Main Content -->
  <div class="afterlogin-wrapper font-2">
    <!-- Sidebar Navigation -->
    <nav class="menu">
      <header class="avatar">
        <img src="{% static 'images/admin.jpg' %}" alt="Admin Profile" style="width: 80px; border-radius: 50%;">
        <br>
        <h6>Admin</h6>
        <h2>{{ request.user.first_name }}</h2>
      </header>
      <ul>
        <li><a href="/admin-dashboard">Dashboard</a></li>
        <li><a href="/admin-notification">Notification</a></li>
        <li><a href="/admin-doctor">Doctor</a></li>
        <li><a href="/admin-patient">Patient</a></li>
        <li><a href="/admin-appointment">Appointment</a></li>
      </ul>
    </nav>

    <!-- Main Content -->
    <main>
      {% block content %}
      {% endblock content %}
    </main>

  </div>
  <script src="{% static 'js/search.js' %}"></script>
</body>

</html>