{% extends 'hospital/admin/admin_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Admin-Patient{% endblock title %}

{% block content %}
{% include 'hospital/other/name_role_header.html' %}


<h2>Admin</h2>

<!-- Tab Navigation -->
<div class="tabs">
  <button class="tab-button active" onclick="switchTab('patients')">Patients</button>
  <button class="tab-button" onclick="switchTab('add')">Add Patient</button>
  <button class="tab-button" onclick="switchTab('approve')">Approve Patient</button>
  <button class="tab-button" onclick="switchTab('discharge')">Discharge Patient</button>
</div>

<!-- Patient List Section -->
<div id="patients" class="content show">
  <h3>Patient List</h3>
  {% if patients_approved %}
  <div class="panel panel-primary">
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Profile Picture</th>
          <th>Symptoms</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for p in patients_approved %}
        <tr>
          <td>{{ p.get_name }}</td>
          <!-- Display patient's profile picture -->
          <td><img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{ p.symptoms }}</td>
          <td>{{ p.mobile }}</td>
          <td>{{ p.address }}</td>
          <!-- Update Patient Button -->
          <td><a class="btn btn-primary btn-xs" href="{% url 'update-patient' p.id %}"><i class="fas fa-edit"></i></a>
          </td>
          <!-- Delete Patient Button -->
          <td><a class="btn btn-danger btn-xs" href="{% url 'delete-patient-from-hospital' p.id %}"><i
                class="fa fa-trash-o" aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="text-center text-muted">No records found.</p>
  {% endif %}
</div>

<!-- Add Patient Section -->
<div id="add" class="content">
  <h3>Add Patient</h3>
  <form method="post" enctype="multipart/form-data" action="{% url 'admin-add-patient' %}">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Admit Patient To Hospital</p>
        </div>
        <div class="form-content">
          <div class="row">

            <!-- Left column: First Name, Username, Address, Symptoms, Profile Picture -->
            <div class="form-group">
              {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.username class="form-control" placeholder="Username" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.address class="form-control" placeholder="Address" %}
            </div>
            <div class="form-group">
              {% render_field userForm.email class="form-control" placeholder="email" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.symptoms class="form-control" placeholder="Symptoms" %}
            </div>
            <div class="form-group">
              <label for="id_profile_pic">Profile Picture</label>
              {% render_field patientForm.profile_pic required="required" class="form-control"%}
            </div>
            <div class="form-group">
              {% render_field patientForm.dob type="date" class="form-control" placeholder="Date of Birth" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.gender class="form-control" placeholder="Gender" %}
            </div>
            <div class="form-group">
              {% render_field userForm.password class="form-control" placeholder="Password" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.mobile class="form-control" placeholder="Mobile" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.assignedDoctorId class="form-control" placeholder="Doctor" %}
            </div>
          </div>
          <button type="submit" class="btnSubmit">Admit</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Approve Patient Section -->
<div id="approve" class="content">
  <h3>Approve Patients</h3>
  {% if patients_not_approved %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Patients Awaiting Approval</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Profile Picture</th>
          <th>Symptoms</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Approve</th>
          <th>Reject</th>
        </tr>
      </thead>
      {% for p in patients_not_approved %}
      <tr>
        <td>{{ p.get_name }}</td>
        <td><img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{ p.symptoms }}</td>
        <td>{{ p.mobile }}</td>
        <td>{{ p.address }}</td>
        <!-- Approve Patient Button -->
        <td><a class="btn btn-primary btn-xs" href="{% url 'approve-patient' p.id %}"><i
              class="fa-solid fa-check"></i></a></td>
        <!-- Reject Patient Button -->
        <td><a class="btn btn-danger btn-xs" href="{% url 'reject-patient' p.id %}"><i class="fa fa-trash-o"
              aria-hidden="true"></i></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p class="text-center text-muted">No records found.</p>
  {% endif %}
</div>

<!-- Discharge Patient Section -->
<div id="discharge" class="content">
  <h3>Discharge Patient</h3>
  {% if patients_approved %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Discharge Patient</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symptoms</th>
          <th>Mobile</th>
          <th>Discharge</th>
        </tr>
      </thead>
      {% for p in patients_approved %}
      <tr>
        <td> {{p.get_name}}</td>
        <td>{{p.symptoms}}</td>
        <td>{{p.mobile}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'discharge-patient' p.id  %}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p class="text-center text-muted">No records found.</p>
  {% endif %}
</div>
{% endblock content %}