<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing</title>
</head>

<body>
    <h1>Calculate Your Calories</h1>

    <form method="POST">
        <div>
            <label for="age">
                Age: <input type="number" id="age" name="age" required>
            </label>
        </div>
        <div>
            <label for="height">
                Height: <input type="number" id="height" name="height" required placeholder="in cm">
            </label>
        </div>
        <div>
            <label for="weight">
                Weight: <input type="number" id="weight" name="weight" required placeholder="in kg">
            </label>
        </div>
        <div>
            <h3>Select Gender</h3>
            <label>
                <input type="radio" name="gender" value="male" required>
                Male
            </label><br>
            <label>
                <input type="radio" name="gender" value="female" required>
                Female
            </label><br>
        </div>

        <div>
            <h3>Select Activity Type</h3>
            {% for e in excercise %}
            <label>
                <input type="radio" name="activity_type" value="{{e}}" required>
                {{e}}
            </label><br>
            {% endfor %}
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>