{% load widget_tweaks %}
<form method="POST" id="signupForm" class="hidden" action="{% url 'adminsignup' %}">
    {% csrf_token %}
    <div class="form-wrapper">
        <div class="form-group">
            {% render_field signupform.first_name class="form-control" placeholder="First Name"%}
        </div>
        <div class="form-group">
            {% render_field signupform.username class="form-control" placeholder="Username" %}
        </div>
        <div class="form-group">
            {% render_field signupform.last_name class="form-control" placeholder="Last Name" %}
        </div>
        <div class="form-group">
            {% render_field signupform.password class="form-control" placeholder="Password" %}
        </div>
        <div class="form-group">
            {% render_field signupform.email class="form-control" placeholder="Email" %}
        </div>
    </div>
    <button type="submit" class="submit-btn">Sign Up</button>
    <p class="toggle-link">Already have an account? <span id="toggleFormLink" onclick="toggleForm()">Login</span></p>
</form>