{% load widget_tweaks %}
<form method="POST" id="signupForm" class="hidden">
    {% csrf_token %}
    <div class="form-wrapper">
        <div class="form-group">
            {% render_field signupform.user.first_name class="form-control" placeholder="First Name" %}
        </div>
        <div class="form-group">
            {% render_field signupform.user.last_name class="form-control" placeholder="Last Name" %}
        </div>
        <div class="form-group">
            {% render_field signupform.user.username class="form-control" placeholder="Username" %}
        </div>
        <div class="form-group">
            {% render_field signupform.user.password class="form-control" placeholder="Password" %}
        </div>
        <div class="form-group">
            {% render_field signupform.doctor.department class="form-control" placeholder="Department" %}
        </div>
        <div class="form-group">
            {% render_field signupform.doctor.address class="form-control" placeholder="Address" %}
        </div>

        <div class="form-group">
            {% render_field signupform.doctor.mobile class="form-control" placeholder="Mobile" %}
        </div>
        <div class="form-group">
            {{ signupform.doctor.profile_pic }}
        </div>

    </div>
    <button type="submit" class="submit-btn">Sign Up</button>
    <p class="toggle-link">Already have an account? <span onclick="toggleForm()">Login</span></p>
</form>