{% extends 'hospital/homebase.html' %}
{% block title %} Wait Till Confirmation {% endblock %}
{% load static %}
{% block content %}

<section id="navbar-section">
  {% include "hospital/other/navbar.html" %}
  <section class="pending-box">
    <h1>Welcome, {{ request.user.first_name }}!</h1>
    <p>Your account is currently under review. Our team is verifying your profile, and we’ll confirm your account soon.
    </p>
    <hr>
    <p>Thank you for your patience. Please check back later.</p>
    <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
  </section>
</section>

{% endblock content %}