{% extends 'hospital/patient/patient_base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block title %}Patient-Appointment{%endblock%}

{% block pic%}
{%if patient.profile_pic %}
<img src="{% static patient.profile_pic %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% else %}
<img src="{% static 'images/patient.jpg' %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% endif %}
{% endblock%}


{% block content %}

<style>

</style>
{% include 'hospital/other/name_role_header.html'%}
<div class="tabs">
  <button class="tab-button active" onclick="switchTab('appointments')">Appointments</button>
  <button class="tab-button" onclick="switchTab('book-appointment')">Book Appointment</button>
</div>

<div id="appointments" class="content show">
  <h3>Appointment List</h3>
  {% if appointments_approved %}
  <div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <div class="scrollable">
      <table class="table table-hover dev-table" id="searchable_table">
        <thead>
          <tr>
            <th>Doctor Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for a in appointments_approved %}
        <tr>
          <td> {{a.doctorName}}</td>
          <td>{{a.description}}</td>
          <td>{{a.appointmentDate}}</td>
          {%if a.status%}
          <td> <span class="label label-primary">Confirmed</span></td>
          {% else %}
          <td> <span class="label label-success">Pending</span></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% else %}
  <p class="text-center text-muted">No records found.</p>
  {% endif %}
</div>

<div id="book-appointment" class="content">
  <h3>Book an Appointment</h3>
  {% if message %}
  <script>
    var a = "{{message}}";
    alert(a);
  </script>

  {% endif %}

  <form method="post" action="{% url 'patient-book-appointment' %}">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Book Appointment Details</p>
        </div>
        <div class="form-content">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                {% render_field appointmentForm.description class="form-control" placeholder="Description" %}
              </div>
              <div class="form-group">
                {% render_field appointmentForm.doctorId class="form-control" placeholder="doctor" %}
              </div>

            </div>

          </div>
          <button type="submit" class="btnSubmit">Book</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}