<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Patient Dashboard{% endblock title %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static '/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/patient_style.css' %}">
</head>

<body>

  <!-- Header -->
  {% include 'hospital/other/header.html'%}


  <!-- Sidebar and Main Content -->
  <div class="afterlogin-wrapper">
    <!-- Sidebar Navigation -->
    <nav class="menu">
      <header class="avatar">
        {% block pic%}<img src="{% static doctor.profile_pic.url %}" alt="Profile Picture"
          style="width: 80px; border-radius: 50%;">{% endblock%}
        <br><br>
        <h6>Patient</h6>
        <h2>{{ request.user.first_name }}</h2>
      </header>
      <ul>
        <li><a href="/patient-dashboard">Personal Information</a></li>
        <li><a href="/patient-fitness">Fitness</a></li>
        <li><a href="/patient-appointment">Appointment</a></li>
        <li><a href="/patient-view-doctor">Doctor</a></li>
        <li><a href="/patient-discharge">Discharge</a></li>
      </ul>
    </nav>

    <!-- Main Content -->
    <main>
      {% block content %}
      {% endblock content %}
    </main>

  </div>
</body>

</html>