{% extends 'hospital/patient/patient_base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block title%}Patient-Fitness{% endblock title %}



{% block pic%}
{%if patient.profile_pic %}
<img src="{% static patient.profile_pic %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% else %}
<img src="{% static 'images/patient.jpg' %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% endif %}
{% endblock%}

{% block content %}
<div class="container">
  <!-- #Change its class and style inside include "hospital/other/name_role_header.html" -->
  {% include 'hospital/other/name_role_header.html'%}

  <div class="header">
    <span class="title">PERSONAL INFORMATION</span>
  </div>
  <div class="info">
    <div><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</div>
    <div><strong>Gender:</strong> {{patient.gender}} </div>
    <div><strong>Date of Birth:</strong> {{patient.dob}}</div>
    <div><strong>Date of Admit:</strong> {{patient.admitDate}}</div>
    <div><strong>Symptoms:</strong> {{patient.symptoms}}</div>
    <div><strong>Patient Status:</strong>
      {% if patient.is_discharged%}
      Discharged
      {% else %}
      Active
      {% endif %}
    </div>
    <div><strong>Age:</strong> {{patient_age}}</div>
    <div><strong>Address:</strong>{{patient.address}}</div>
    <div><strong>Supervision Doctor:</strong> {{doctorName}}</div>
  </div>
</div>


{% endblock content %}