{% extends 'hospital/patient/patient_base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block title%}Patient-Fitness{% endblock title %}


{% block pic%}
{%if patient.profile_pic %}
<img src="{% static patient.profile_pic %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% else %}
<img src="{% static 'images/patient.jpg' %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% endif %}
{% endblock%}

{% block content %}

<div class="container">
    <!-- #Change its class and style inside include "hospital/other/name_role_header.html" -->
    {% include 'hospital/other/name_role_header.html'%}

    <div class="personal-info">
        <h2>PERSONAL INFORMATION</h2>
        <div class="info-grid">
            <div class="info-item"><strong>Name</strong> {{ user.first_name }} {{ user.last_name }}</div>
            <div class="info-item"><strong>Gender</strong> {{patient.gender}} </div>
            <div class="info-item"><strong>Date of Birth</strong> {{patient.dob}}</div>
            <div class="info-item"><strong>Date of Admit</strong> {{patient.admitDate}}</div>
            <div class="info-item"><strong>Symptoms</strong> {{patient.symptoms}}</div>
            <div class="info-item"><strong>Patient Status</strong>
                {% if patient.is_discharged%}
                Discharged
                {% else %}
                Active
                {% endif %}
            </div>
            <div class="info-item"><strong>Age</strong> {{patient_age}}</div>
            <div class="info-item"><strong>Address</strong>{{patient.address}}</div>
            <div class="info-item"><strong>Doctor</strong> {{doctorName}}</div>
        </div>
        <div class="heartbeat" style="width: 200px; height: 100px;">
            <img src="{% static 'images/heart_beat_line.png' %}" alt="Heartbeat Line">
        </div>
    </div>
</div>

{% endblock content %}