{% extends 'hospital/patient/patient_base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block title %}Patient-Appointment{%endblock%}

{% block pic%}
{%if patient.profile_pic %}
<img src="{% static patient.profile_pic %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% else %}
<img src="{% static 'images/patient.jpg' %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% endif %}
{% endblock%}

{% block content %}


<div class="container">
  {% include 'hospital/other/name_role_header.html'%}

  <form action="/searchdoctor" method="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" id="query" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  {% if doctors %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title font-3"> Total Doctor List</h4>
    </div>
    <div class="scrollable">
      <table class="table table-hover dev-table" id="searchable_table">
        <thead>
          <tr>

            <th>Name</th>
            <th>Profile Picture</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Department</th>

          </tr>
        </thead>
        {% for d in doctors %}
        <tr>

          <td> {{d.get_name}}</td>
          {%if d.profile_pic %}
          <td> <img src="{% static d.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          {%else%}
          <td> <img src="{% static 'images/patient.jpg' %}" alt="Profile Pic" height="40px" width="40px" /></td>
          {%endif %}




          <td>{{d.mobile}}</td>
          <td>{{d.address}}</td>
          <td>{{d.department}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {%else%}
  <br><br><br>
  <h4 style="text-align: center;color: red;">No Doctor Found !!!</h4>
  {% endif %}


</div>

{% endblock content %}