{% extends 'hospital/patient/patient_base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block title%}Patient-Fitness{% endblock title %}
{% block pic%}
{%if patient.profile_pic %}
<img src="{% static patient.profile_pic %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% else %}
<img src="{% static 'images/patient.jpg' %}" alt="Profile Picture" style="width: 80px; border-radius: 50%;">
{% endif %}

{% endblock%}
{% block content %}
{% include 'hospital/other/name_role_header.html'%}
<br>
<div class="container">
    <div class="header">
        <span class="title">UPDATE YOUR FITNESS INFORMATION</span>
        <span class="edit-icon"></span>
    </div>
    <div class="center font-3">Enter Height and Weight for Fitness Calculation</div>
    <form method="post" action="{% url 'patient-fitness' %}">
        {% csrf_token %}
        <div class="container register-form">
            <div class="form">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {% render_field user_health_form.weight %}
                            </div>
                            <div class="form-group">
                                {% render_field user_health_form.height %}
                            </div>
                            <div class="form-group">
                                {% render_field user_health_form.activity_level %}
                            </div>
                            <div class="form-group">
                                {% render_field user_health_form.goal %}
                            </div>

                        </div>

                    </div>
                    <button type="submit" class="btnSubmit">Update</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}